/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */
 
@accentColor: #800000; // update this line for principal color
@textColor: #2a2a2a;
@borderColor: #eaecef;
@codeBgColor: #282c34;
@arrowBgColor: #ccc;
@badgeTipColor: #00DB27;
@badgeWarningColor: #ff9900;
@badgeErrorColor: #ed4014;

@navbarHeight: 4.125rem;
@sidebarWidth: 20rem;
@contentWidth: unset;
@homePageWidth: 960px;